.badge {
  background-color: var(--pink);
  width: 20px;
  height: 20px;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
